---
global:
  pattern: hypershift

  options:
    useCSV: false
    syncPolicy: Automatic
    installPlanApproval: Automatic

# register a GitHub oAuth application: https://github.com/settings/applications/new
# configure oauth provider: https://docs.openshift.com/container-platform/4.15/authentication/understanding-identity-provider.html
#
#  oauth:
#    enabled: true
#    type: GitHub
#    secretName: ocp-github-oauth
#    github:
#      clientID: #clientID of the registered GitHub oAuth Application 
#      orgs:
#      - name: #list of github authorized organizations

main:
  clusterGroupName: hub
  multiSourceConfig:
    enabled: true
    clusterGroupChartVersion: 0.9.*
